/***********************************************
         created by amao xu
         Basic Elements
***********************************************/

.username {
	color: white;
	width: 480px;
	height: 60px;
	padding-left: 20px;
	font-family: "Helvetica Neue 75Bold",Arial,sans-serif;
	font-size: 18pt;
	background-image: url('../../resources/images/loginTextfieldNormal.png');
}


#container {
	background-image: url('../../resources/images/backgroundLogin.png');
	background-repeat: repeat-x;
}

.messagePanel {
	position: absolute;
	top:0px;
	width:800px;	
}

.initPanel {
	position: absolute;
}

.cube_select_box {
	width : 480px;
}